<?php echo $this->getContent()?>

<div class="row">

	<div class="col-md-12">


		<a href="/sands/setprice" class="btn btn-sm btn-primary pull-right">Set Products Price</a>
		<!-- <div class="input-group input-group-width">
			<input type="text" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Search</button>
			</span>
		</div> -->
		<div></div>
		<div class="widget">
			<div class="widget-head">
				<div class="pull-left">List</div>
				<div class="clearfix"></div>
			</div>
			<div class="widget-content">

				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<!-- <th>Sand Type</th> -->
								<th>Categories</th>
								<th>Per Cubic Meter Price</th>
								<th>Control</th>
							</tr>
						</thead>
						<tbody>
							<?php
							foreach ($page->items as $item) {
								?>
									<tr>
										<!-- <td><?php
											$data = $data_type;
											foreach ($data as $key => $value) {
												if($data[$key]->id == $item->sandtype){
													echo $data[$key]->type ;
												}
											}
										?></td> -->
										<td><?php
											$data = $data_categ;
											foreach ($data as $key => $value) {
												if($data[$key]->id == $item->sandcateg){
													echo $data[$key]->category ;
												}
											}
										?></td>
										<td><?=$item->price?></td>
										<td>

											<div class="btn-group1">
												<!-- <a class="btn btn-xs btn-warning" href="/company/compprofile/<?=$item->id ?>"><i class="fa fa-pencil"></i> </a> -->
												<a class="btn btn-xs btn-danger" href="/sands/dltsand/<?=$item->id ?>"><i class="fa fa-times"></i> </a>
											</div>

										</td>
									</tr>               
								<?php
								}
							?>							                                                
						</tbody>
					</table>
				</div>

				<div class="widget-foot">
				<ul class="pagination pagination-sm pull-left">
						<li><a href="/sands/sandList/search?page=<?= $page->before; ?>">Prev</a></li>
						<?php
							// for(){
								
							// } 
						?>
						<!-- <li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li> -->
						<li><a href="/sands/sandList/search?page=<?= $page->next; ?>">Next</a></li>
					</ul>

					<div class="clearfix"></div> 

				</div>

			</div>

		</div>


	</div>



</div>
