<?php echo $this->getContent()?>
<div class="row">
	<div class="col-md-12">
		<div class="widget-content">

			<div class="table-responsive">
				<form method="post" class="form-horizontal" role="form">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Product (Type/Category)</th>
								<th>Current Price</th>
								<th>Set New  price</th>
							</tr>
						</thead>
						<tbody>
							<?php
							foreach ($sand as $key => $value) {
								?>
								<tr>
									<td><?php


										foreach ($data_type as $type => $value) {
											if($data_type[$type]->id == $sand[$key]->sandtype){
												$sand_type= $data_type[$type]->type ;
											}
										}

										foreach ($data_categ as $categ => $value) {
											if($data_categ[$categ]->id ==$sand[$key]->sandcateg){
												$sand_categ = $data_categ[$categ]->category ;
											}
										}

										// echo $sand_type." / ".$sand_categ ;
										echo $sand_categ ;



										?></td>

									</td>
									<td><?=$sand[$key]->price?></td>
									<td>
										<input type="hidden" name="sandid[]" value="<?=$sand[$key]->id?>">
										<input type="hidden" name="type[]" value="<?=$sand[$key]->sandtype?>">
										<input type="hidden" name="categ[]" value="<?=$sand[$key]->sandcateg?>">
										<input type="text" name="price[]">
									</td>
								</tr>
								<?php

							}
							?>
							<tr>
								<td></td>
								<td></td>
								<td ><input type="submit" class="btn btn-sm btn-primary" name="save" value="SAVE"></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>


		</div>




	</div>
</div>
