<?php echo $this->getContent()?>

<div class="row">

	<div class="col-md-12">


		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Today's Order</div>
				
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					<br />
					<!-- Form starts.  -->
					<form method="post" class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-lg-2 control-label"></label>
							<div class="col-lg-5">
									<div id="found">
								<h4  style="color:green;">Record Found</h4>
							</div>
							<div id="notfount">
								<h4 style="color:red;">No Record Match</h4>
							</div>
							</div>
						</div> 
					
						<div class="form-group">
							<label class="col-lg-2 control-label">Enter Plate/Truck #</label>
							<div class="col-lg-5">
								<div  class=" col-lg-2 input-group input-group-width">
									<input type="text" class="form-control" placeholder="Truck/Plate #" name="plate" value="" required style="width:190px;" id="plate">
									<span class="input-group-btn">
										<button type="button" class="btn btn-sm btn-info" data-toggle="modal"   onclick="$('#addtype').modal({'backdrop': 'static'});">Add New Truck</button>
									</span>
								</div>
							</div>
						</div> 
						
						<div class="form-group">
							<label class="col-lg-2 control-label">Truck Height</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Truck Height" name="height" value="" required id="height" style="width:190px;">
								<input type="hidden" class="form-control" placeholder="Truck width" name="width" value="" required id="width" style="width:190px;">
								<input type="hidden" class="form-control" placeholder="Truck lenght" name="lenght" value="" required id="lenght" style="width:190px;">
								<input type="hidden" class="form-control" placeholder="" name="cubmtr" value="" required id="cubmtr" style="width:190px;">
							</div>
						</div>


						<div class="form-group">
							<label class="col-lg-2 control-label">Select Sand</label>
							<div class="col-lg-8">
								<div  class="  input-group input-group-width">
									<select class="form-control col-lg-6" name="sand" required id="sandsclt">
									<option></option>
									<?php
									$data = $sandsdata;

									foreach ($data as $key => $value) {
										?>
											<option value="<?=$data[$key]->id ?>">
												<?php 
												$type = $data_type;
												foreach ($type as $i => $value) {
													if($type[$i]->id == $data[$key]->sandtype ){
														echo $type[$i]->type ;
													}
												}
											?> / 
											<?php 

											$categ = $data_categ;
												foreach ($categ as $cat => $value) {
													if($categ[$cat]->id == $data[$key]->sandcateg ){
														echo $categ[$cat]->category ;
													}
												}

											?></option>
										<?php
									}
									?>
								</select>
									<span class="input-group-btn">
										<input type="input" class="form-control" placeholder="Price" id="totval" style="width:100px;" disabled="true">
									</span>
								</div>
							</div>
							
						</div>

						<div class="form-group">
							<label class="col-lg-2 control-label">Total Amount</label>
							<div  class=" col-lg-2 input-group input-group-width">
								<input style="margin-left:15px;"  type="text" class="form-control" name="amount" id="total">
								<span class="input-group-btn">
									<select class="form-control" name="payopt" required style="width:100px;">
										<option></option>
										<option value="0">Cash</option>
										<option value="1">PO</option>
									</select>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Discount</label>
							<div class="col-lg-2">
								<input type="text" class="form-control" placeholder="" name="discount" value=""  >
							</div> <div style="font-size:20px;margin-top:5px;margin-left:-15px;">%</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 control-label">DR #</label>
							<div class="col-lg-2">
								<input type="text" class="form-control" placeholder="" name="dr" value=""  >
							</div> 
						</div>

						<div class="form-group">
							<label class="col-lg-2 control-label">Time Ordered</label>
							<div class="col-lg-2">
								<input type=time min=9:00 max=17:00 step=900 style="font-size:18px;" name="time">
							</div> 
						</div>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-6">
								<a href="" class="btn btn-sm btn-primary">Cancel</a>
								<input type="submit" class="btn btn-sm btn-primary" name="save" value="SAVE">
								
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
		</div>
		<div class="widget-content">

				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr style="text-align:center;">
								<th rowspan="2">PLATE #</th>
								<th rowspan="2">COMPANY</th>
								<th rowspan="2">CLASS</th>
								<th rowspan="2">Cu-Mtr</th>
								<th rowspan="2">Price-Cu-Mtr</th>
								<th colspan="2">AMOUNT</th>
								<th rowspan="2">DISCOUNT</th>
								<th rowspan="2">TOTAL</th>
								<th rowspan="2">TIME ORDERED</th>
							</tr>
							<tr>
								<th>CASH</th>
								<th>PO</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="widget-foot">


					<ul class="pagination pagination-sm pull-left">
						<li><a href="">Prev</a></li>
						<?php
							// for(){
								
							// } 
						?>
						<!-- <li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li> -->
						<li><a href="">Next</a></li>
					</ul>

					<div class="clearfix"></div> 

				</div>

			</div>  
	</div>
</div>



