<?php echo $this->getContent()?>
<div class="row">

	<div class="col-md-12">


		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Add New</div>
				
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					<br />
					<!-- Form starts.  -->
					<form method="post" class="form-horizontal" role="form">

						<div class="form-group">
							<label class="col-lg-2 control-label">Select Company Owner</label>
							<div class="col-lg-2">
								<select class="form-control col-lg-6" name="company" required>
								
									<?php
									$data = $list_comp;

									foreach ($data as $key => $value) {
										?>
										<option value="<?=$data[$key]->id ?>"><?=$data[$key]->campname ?></option>
										<?php
									}
									?>
								</select>
							</div>
						</div>    

						<div class="form-group">
							<label class="col-lg-2 control-label">Truck Plate #</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Truck Plate #" name="plateno" value="<?=$plateno ?>" required>
							</div>
						</div> 

						<div class="form-group">
							<label class="col-lg-2 control-label">Truck Lenght</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Truck Lenght" name="length" value="<?=$length ?>" required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 control-label">Truck Width</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Truck Width" name="width" value="<?=$width ?>" required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 control-label">Truck Height</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Truck Width" name="heigth" value="<?=$heigth ?>" required>
							</div>
						</div>                   

						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-6">
								<a href="" class="btn btn-sm btn-primary">Cancel</a>
								<input type="submit" class="btn btn-sm btn-primary" name="save" value="SAVE">
								
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
		</div>  

	</div>

</div>


