<?php echo $this->getContent()?>

<div class="row" ng-app="addcompApp" ng-controller="addcompCtrl">

	<div class="col-md-12">


		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Add New</div>
				
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					<br />
					<!-- Form starts.  -->
					<form role="form" class="form-horizontal" name="addcompanyForm" novalidate>

						

						<div class="form-group">
							<label class="col-lg-2 control-label">Company Name</label>
							<div class="col-lg-5">
								<input type="text" name="compname" ng-model="data.compname" class="form-control" placeholder="Company Name" id="compname" ng-required ="true"required>

								<span style="color:red" ng-show="addcompanyForm.compname.$dirty && addcompanyForm.compname.$invalid">
									<span ng-show="addcompanyForm.compname.$error">
										Company Name is required.
									</span>
								</span>
							</div>

						</div> 

						<div class="form-group">
							<label class="col-lg-2 control-label">Address</label>
							<div class="col-lg-5">
								<input type="text" name="address" ng-model="data.address" class="form-control" placeholder="Address" id="address" ng-required ="true" required >

								<span style="color:red" ng-show="addcompanyForm.address.$dirty && addcompanyForm.address.$invalid" >
									<span ng-show="addcompanyForm.address.$error">
										Address is required.
									</span>
								</span>
							</div>
						</div>




						<div class="form-group">
							<label class="col-lg-2 control-label">Contact No.</label>
							<div class="col-lg-5">
								<input type="number" name="contact" ng-model="data.contact" class="form-control" placeholder="Contact No." id="contact" ng-required ="true" required number>

								<span style="color:red" ng-show="addcompanyForm.contact.$dirty && addcompanyForm.contact.$invalid">
									<span ng-show="addcompanyForm.contact.$error">
										Number is required.
									</span>
								</span>
							</div>
						</div>

					     

						<script>
							function goBack() {
								window.history.back();
							}
						</script>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-6">
								<button onclick="goBack()" class="btn btn-sm btn-primary">Cancel</button>
								<input  type="submit" ng-click="insert(data)" class="btn btn-sm btn-primary"  value="SAVE" id="save" ng-disabled="addcompanyForm.$invalid" >
								<span style="color:red" ng-show="addcompanyForm.$dirty && addcompanyForm.$invalid">
									<span ng-show="addcompanyForm.$error">
										*Please fill up all required fields
									</span>
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
		</div>  

	</div>

</div>



<script type="text/javascript">


</script>



