<?php echo $this->getContent()?>
<div class="row"  ng-app="deletecompApp" ng-controller="deletecompCtrl">

	<div class="col-md-12">


		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Notification</div>
				
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					Are You Sure You Want to Delete This Company?<br>

					<br />
					<!-- Form starts.  -->
					<form  class="form-horizontal" role="form">
						<input type="text" name="id" ng-model="id" hidden="" >
						<div class="form-group">
							<label class="col-lg-2 control-label">Company Name</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Company Name" name="compname" ng-model="compname" value="<?=$compname?>" readonly>
							</div>
						</div> 

						<div class="form-group">
							<label class="col-lg-2 control-label">Address</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Address" name="address" ng-model="address" value="<?=$address?>" readonly>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 control-label">Contact No.</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Contact No." name="contact" ng-model="contact" value="<?=$contact?>" readonly>
							</div>
						</div>

					     
						<script>
							function goBack() {
								window.history.back();
							}
						</script>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-6">
								<button class="btn btn-sm btn-primary" onclick="goBack();">Back</button>
								<input type="submit" class="btn btn-sm btn-primary" name="delete" value="DELETE" id="delete" ng-click="delete()" >
								
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
		</div>  

	</div>

</div>


<?php
$DeletePhpToJs = [
  'value1' => "$id",
  'value2' => "$compname",
  'value3' => "$address",
  'value4' => "$contact", 
];
?>

<script type="text/javascript">
	var phpVarsDelete = { 
	<?php 
	  foreach ($DeletePhpToJs as $key => $value) {
	    echo '  ' . $key . ': ' . '"' . $value . '",' . "\n";  
	  }
	?>
	};
</script>


