<?php echo $this->getContent()?>
<div class="row" ng-app="updatecompApp" ng-controller="updatecompCtrl">

	<div class="col-md-12">


		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Edit Record</div>
				
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					
					
					<br />
					<!-- Form starts.  -->
					<form  class="form-horizontal" role="form" name="editcompForm" data-flag="0" novalidate>
						<input type="text" name="id" ng-model="id" value="<?=$id?>" hidden>
						<div class="form-group">
							<label class="col-lg-2 control-label">Company Name</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Company Name" name="compname"  ng-model="compname" value="<?=$compname?>" required>

								<span style="color:red" ng-show="editcompForm.compname.$dirty && editcompForm.compname.$invalid">
									<span ng-show="editcompForm.compname.$error">
										Company Name is required.
									</span>
								</span>
							</div>

						</div> 

						<div class="form-group">
							<label class="col-lg-2 control-label">Address</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" placeholder="Address" name="address"  ng-model="address"value="<?=$address?>" ng-required ="true" required>
								<span style="color:red" ng-show="editcompForm.address.$dirty && editcompForm.address.$invalid">
									<span ng-show="editcompForm.address.$error">
										address Name is required.
									</span>
								</span>
							</div>
						</div>




						<div class="form-group">
							<label class="col-lg-2 control-label">Contact No.</label>
							<div class="col-lg-5">
								<input type="number" class="form-control" placeholder="Contact No."
								 name="contact" ng-model="contact" ng-required ="true" required value="<?=$contact?>"  allow-numbers-only>
								 <span style="color:red" ng-show="editcompForm.contact.$dirty && editcompForm.contact.$invalid">
									<span ng-show="editcompForm.contact.$error">
										Contact Name is required.
									</span>
								</span>
							</div>
						</div>

					     
						<script>
							function goBack() {
								window.history.back();
							}
						</script>
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-6">
								<button class="btn btn-sm btn-primary" onclick="goBack();">Back</button>
								<input type="submit" class="btn btn-sm btn-primary" id="update" value="UPDATE" ng-model="update" name="update" ng-click="update()" ng-disabled="editcompForm.$invalid">
								<span style="color:red" ng-show="editcompForm.$dirty && editcompForm.$invalid">
									<span ng-show="editcompForm.$error">
										*Please fill up all required fields
									</span>
								</span>	
							</div>
						</div>
					</form>
				
				</div>
			</div>
			<div class="widget-foot">
				<!-- Footer goes here -->
			</div>
		</div>  

	</div>

</div>



<?php
$EditPhpToJs = [
  'value1' => "$id",
  'value2' => "$compname",
  'value3' => "$address",
  'value4' => "$contact", 
];
?>

<script type="text/javascript">
	var phpVarsEdit = { 
	<?php 
	  foreach ($EditPhpToJs as $key => $value) {
	    echo '  ' . $key . ': ' . '"' . $value . '",' . "\n";  
	  }
	?>
	};
</script>


