<?php echo $this->getContent()?>

<div class="row">

	<div class="col-md-12">

		<a href="/company/compList">&laquo Return List</a>
		<a href="/company/editcompany/<?=$compid ?>" class="btn btn-sm btn-primary pull-right">Edit Company Info</a>
		<h1><?=$companyname?></h1>
		<h5>Address: <label style="color:#444;"><?=$address?></label> | Contact #: <label style="color:#444;"><?=$contact?></label></h5>
		<hr style="width: 100%; color: #aaa; height: 1px; background-color:#aaa;">
	<ul class="nav nav-tabs">
		<li role="presentation" ><a href="../compprofile/<?=$compid ?>">Owned Trucks</a></li>
		<li role="presentation"><a href="../orderedhistory/<?=$compid ?>">Ordered History</a></li>
		<li role="presentation" class="active"><a href="../setproductprice/<?=$compid ?>">Set Product Price</a></li>
	</ul>
	<div class="widget-content">

				<div class="table-responsive">
					<form method="post" class="form-horizontal" role="form">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Product (Type/Category)</th>
								<th>Product Original Price</th>
								<th>Current Set Product Price</th>
								<th>Set New  price</th>
							</tr>
						</thead>
						<tbody>
						<?php
						foreach ($sand as $key => $value) {
							?>
								<tr>
									<td><?php


											// foreach ($data_type as $type => $value) {
											// 	if($data_type[$type]->id == $sand[$key]->sandtype){
											// 		$sand_type= $data_type[$type]->type ;
											// 	}
											// }

											foreach ($data_categ as $categ => $value) {
												if($data_categ[$categ]->id ==$sand[$key]->sandcateg){
													$sand_categ = $data_categ[$categ]->category ;
												}
											}


											// echo $sand_type." / ".$sand_categ ;
											echo $sand_categ ;



									?></td>
									<td><?=$sand[$key]->price?></td>
									<td><?php
										 $sand_id=$sand[$key]->id;

										foreach ($set_price as $set => $value) {
											if($set_price[$set]->sand== $sand_id){
												echo $set_price[$set]->setprice;
											}
										
										}

									?>	
									</td>
									<td>
										<input type="hidden" name="sandid[]" value="<?=$sand[$key]->id?>">
										<input type="number" name="price[]" pattern="^([0-9])$">
									</td>
								</tr>
							<?php

						}
						?>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td ><input type="submit" class="btn btn-sm btn-primary" name="save" value="SAVE"></td>
						</tr>
						</tbody>
					</table>
					</form>
				</div>

				
			</div>


	</div>




</div>
